*{
background:#080808;
margin:opx;
}
.d{
color:white;
font-weight:bold;
}
.c{
color:grey;
font-weight:bold;
}
.login{
color:white;
font-weight:bold;
}
.user{{
background:#f2f2f2;
border-radius:8px;
}
background:#f2f2f2;
border-radius:8px;
}
.pass{
background:#f2f2f2;
border-radius:8px;
}
.box{
width:200px:
height:200px;
background:grey;
position:relative;
left:200px;
}
#btn{
background:purple;
width:150px;
}
img{
background:gold;
padding:2px;
}
.smile{
color:white;
}